# Introduction
In this project we are going to clean a survey about star wars.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
star_wars = pd.read_csv('star_wars.csv', encoding="ISO-8859-1")

In [2]:
star_wars.shape

(1187, 38)

In [3]:
pd.set_option('display.max_columns', 38)
pd.set_option('display.max_rows', 38)

In [4]:
star_wars.isna().sum()

RespondentID                                                                                                                                       1
Have you seen any of the 6 films in the Star Wars franchise?                                                                                       0
Do you consider yourself to be a fan of the Star Wars film franchise?                                                                            350
Which of the following Star Wars films have you seen? Please select all that apply.                                                              513
Unnamed: 4                                                                                                                                       615
Unnamed: 5                                                                                                                                       636
Unnamed: 6                                                                                                                                       579
Unnamed: 7                                                                                                                                       428
Unnamed: 8                                                                                                                                       448
Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.    351
Unnamed: 10                                                                                                                                      350
Unnamed: 11                                                                                                                                      351
Unnamed: 12                                                                                                                                      350
Unnamed: 13                                                                                                                                      350
Unnamed: 14                                                                                                                                      350
Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.                                   357
Unnamed: 16                                                                                                                                      355
Unnamed: 17                                                                                                                                      355
Unnamed: 18                                                                                                                                      363
Unnamed: 19                                                                                                                                      361
Unnamed: 20                                                                                                                                      372
Unnamed: 21                                                                                                                                      360
Unnamed: 22                                                                                                                                      366
Unnamed: 23                                                                                                                                      374
Unnamed: 24                                                                                                                                      359
Unnamed: 25                                                                                                                                      356
Unnamed: 26                                                                                                                                      365
Unnamed: 27                                                                                                                                      372
Unnamed: 28                                                                                                                                      360
Which character shot first?                                                                                                                      358
Are you familiar with the Expanded Universe?                                                                                                     358
Do you consider yourself to be a fan of the Expanded Universe?ÂÃ¦                                                                               973
Do you consider yourself to be a fan of the Star Trek franchise?                                                                                 118
Gender                                                                                                                                           140
Age                                                                                                                                              140
Household Income                                                                                                                                 328
Education                                                                                                                                        150
Location (Census Region)                                                                                                                         143
dtype: int64

removing null id:

In [5]:
star_wars = star_wars[star_wars['RespondentID'].notna()]

In [6]:
star_wars.head()

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,"Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.",Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?ÂÃ¦,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
1,3.292880e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,2,1,4,5,6,Very favorably,Very favorably,Very favorably,Very favorably,Very favorably,Very favorably,Very favorably,Unfamiliar (N/A),Unfamiliar (N/A),Very favorably,Very favorably,Very favorably,Very favorably,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
2,3.292880e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3,3.292765e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1,2,3,4,5,6,Somewhat favorably,Somewhat favorably,Somewhat favorably,Somewhat favorably,Somewhat favorably,Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
4,3.292763e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,6,1,2,4,3,Very favorably,Very favorably,Very favorably,Very favorably,Very favorably,Somewhat favorably,Very favorably,Somewhat favorably,Somewhat unfavorably,Very favorably,Very favorably,Very favorably,Very favorably,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
5,3.292731e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,4,6,2,1,3,Very favorably,Somewhat favorably,Somewhat favorably,Somewhat unfavorably,Very favorably,Very unfavorably,Somewhat favorably,Neither favorably nor unfavorably (neutral),Very favorably,Somewhat favorably,Somewhat favorably,Very unfavorably,Somewhat favorably,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

In [7]:
list(star_wars.columns)

['RespondentID',
 'Have you seen any of the 6 films in the Star Wars franchise?',
 'Do you consider yourself to be a fan of the Star Wars film franchise?',
 'Which of the following Star Wars films have you seen? Please select all that apply.',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8',
 'Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.',
 'Unnamed: 10',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14',
 'Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.',
 'Unnamed: 16',
 'Unnamed: 17',
 'Unnamed: 18',
 'Unnamed: 19',
 'Unnamed: 20',
 'Unnamed: 21',
 'Unnamed: 22',
 'Unnamed: 23',
 'Unnamed: 24',
 'Unnamed: 25',
 'Unnamed: 26',
 'Unnamed: 27',
 'Unnamed: 28',
 'Which character shot first?',
 'Are you familiar with the Expanded Universe?',
 'Do you consider yourself to be a fan of the Expanded Universe?Â\x8cÃ¦',
 'Do you consider yourself to be a fan of the Star Trek franchise?',
 'Gender',
 'Age',
 'Household Income',
 'Education',
 'Location (Census Region)']

# Turn yes/no columns into boolean

In [8]:
yes_no_cols=['Have you seen any of the 6 films in the Star Wars franchise?',
 'Do you consider yourself to be a fan of the Star Wars film franchise?', 'Are you familiar with the Expanded Universe?',
 'Do you consider yourself to be a fan of the Expanded Universe?Â\x8cÃ¦',
 'Do you consider yourself to be a fan of the Star Trek franchise?',]

In [9]:
for i in yes_no_cols:
    print(star_wars[i].value_counts())
    print()

Yes    936
No     250
Name: Have you seen any of the 6 films in the Star Wars franchise?, dtype: int64

Yes    552
No     284
Name: Do you consider yourself to be a fan of the Star Wars film franchise?, dtype: int64

No     615
Yes    213
Name: Are you familiar with the Expanded Universe?, dtype: int64

No     114
Yes     99
Name: Do you consider yourself to be a fan of the Expanded Universe?ÂÃ¦, dtype: int64

No     641
Yes    427
Name: Do you consider yourself to be a fan of the Star Trek franchise?, dtype: int64

In [10]:
yes_no_map = {'Yes':True,'No':False}
for i in yes_no_cols:
    star_wars[i]=star_wars[i].map(yes_no_map)

# Transform the seen movies into boolean

In [11]:
seen_movies = [ 'Which of the following Star Wars films have you seen? Please select all that apply.',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8',]

In [12]:
rename_seen={}
ind=0
for i in seen_movies:
    rename_seen[i] = 'seen_movie_'+str(ind)
    ind+=1
star_wars = star_wars.rename(columns=rename_seen)
seen_movies = rename_seen.values()

In [13]:
for i in seen_movies:
    print(star_wars[i].value_counts())
    print()

Star Wars: Episode I  The Phantom Menace    673
Name: seen_movie_0, dtype: int64

Star Wars: Episode II  Attack of the Clones    571
Name: seen_movie_1, dtype: int64

Star Wars: Episode III  Revenge of the Sith    550
Name: seen_movie_2, dtype: int64

Star Wars: Episode IV  A New Hope    607
Name: seen_movie_3, dtype: int64

Star Wars: Episode V The Empire Strikes Back    758
Name: seen_movie_4, dtype: int64

Star Wars: Episode VI Return of the Jedi    738
Name: seen_movie_5, dtype: int64

In [14]:
for i in seen_movies:
    star_wars.loc[star_wars[i].notna(),i] = True
    star_wars.loc[star_wars[i].isna(),i] = False

In [15]:
for i in seen_movies:
    print(star_wars[i].value_counts())
    print()

True     673
False    513
Name: seen_movie_0, dtype: int64

False    615
True     571
Name: seen_movie_1, dtype: int64

False    636
True     550
Name: seen_movie_2, dtype: int64

True     607
False    579
Name: seen_movie_3, dtype: int64

True     758
False    428
Name: seen_movie_4, dtype: int64

True     738
False    448
Name: seen_movie_5, dtype: int64

# Transform ranks into float

In [16]:
user_rank = [ 'Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.',
 'Unnamed: 10',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14']

In [17]:
star_wars[user_rank].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1186 entries, 1 to 1186
Data columns (total 6 columns):
Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.    835 non-null object
Unnamed: 10                                                                                                                                      836 non-null object
Unnamed: 11                                                                                                                                      835 non-null object
Unnamed: 12                                                                                                                                      836 non-null object
Unnamed: 13                                                                                                                                      836 non-null object
Unnamed: 14                                                                                                                                      836 non-null object
dtypes: object(6)
memory usage: 64.9+ KB

In [18]:
rename_rank={}
ind=0
for i in user_rank:
    rename_rank[i] = 'rank_movie_'+str(ind)
    ind+=1
star_wars = star_wars.rename(columns=rename_rank)
user_rank = list(rename_rank.values())

In [19]:
user_rank

['rank_movie_0',
 'rank_movie_1',
 'rank_movie_2',
 'rank_movie_3',
 'rank_movie_4',
 'rank_movie_5']

In [20]:
star_wars[user_rank] = star_wars[user_rank].astype(float)

In [21]:
star_wars[user_rank].describe()

,rank_movie_0,rank_movie_1,rank_movie_2,rank_movie_3,rank_movie_4,rank_movie_5
count,835.000000,836.000000,835.000000,836.000000,836.000000,836.000000
mean,3.732934,4.087321,4.341317,3.272727,2.513158,3.047847
std,1.656122,1.365365,1.400464,1.825901,1.578620,1.666897
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.000000,3.000000,3.000000,2.000000,1.000000,2.000000
50%,4.000000,4.000000,5.000000,3.000000,2.000000,3.000000
75%,5.000000,5.000000,6.000000,5.000000,3.000000,4.000000
max,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000

# create a rank mapping to the characters

In [22]:
chr_fam=[  'Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.',
 'Unnamed: 16',
 'Unnamed: 17',
 'Unnamed: 18',
 'Unnamed: 19',
 'Unnamed: 20',
 'Unnamed: 21',
 'Unnamed: 22',
 'Unnamed: 23',
 'Unnamed: 24',
 'Unnamed: 25',
 'Unnamed: 26',
 'Unnamed: 27',
 'Unnamed: 28']

In [23]:
star_wars[chr_fam].head()

,"Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.",Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
1,Very favorably,Very favorably,Very favorably,Very favorably,Very favorably,Very favorably,Very favorably,Unfamiliar (N/A),Unfamiliar (N/A),Very favorably,Very favorably,Very favorably,Very favorably,Very favorably
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Somewhat favorably,Somewhat favorably,Somewhat favorably,Somewhat favorably,Somewhat favorably,Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A),Unfamiliar (N/A)
4,Very favorably,Very favorably,Very favorably,Very favorably,Very favorably,Somewhat favorably,Very favorably,Somewhat favorably,Somewhat unfavorably,Very favorably,Very favorably,Very favorably,Very favorably,Very favorably
5,Very favorably,Somewhat favorably,Somewhat favorably,Somewhat unfavorably,Very favorably,Very unfavorably,Somewhat favorably,Neither favorably nor unfavorably (neutral),Very favorably,Somewhat favorably,Somewhat favorably,Very unfavorably,Somewhat favorably,Somewhat favorably

In [24]:
for i in chr_fam:
    print(list(star_wars[i].unique()))
    print()

['Very favorably', nan, 'Somewhat favorably', 'Neither favorably nor unfavorably (neutral)', 'Somewhat unfavorably', 'Unfamiliar (N/A)', 'Very unfavorably']

['Very favorably', nan, 'Somewhat favorably', 'Somewhat unfavorably', 'Neither favorably nor unfavorably (neutral)', 'Very unfavorably', 'Unfamiliar (N/A)']

['Very favorably', nan, 'Somewhat favorably', 'Somewhat unfavorably', 'Neither favorably nor unfavorably (neutral)', 'Very unfavorably', 'Unfamiliar (N/A)']

['Very favorably', nan, 'Somewhat favorably', 'Somewhat unfavorably', 'Neither favorably nor unfavorably (neutral)', 'Very unfavorably', 'Unfamiliar (N/A)']

['Very favorably', nan, 'Somewhat favorably', 'Very unfavorably', 'Neither favorably nor unfavorably (neutral)', 'Somewhat unfavorably', 'Unfamiliar (N/A)']

['Very favorably', nan, 'Unfamiliar (N/A)', 'Somewhat favorably', 'Very unfavorably', 'Neither favorably nor unfavorably (neutral)', 'Somewhat unfavorably']

['Very favorably', nan, 'Unfamiliar (N/A)', 'Somewhat favorably', 'Somewhat unfavorably', 'Very unfavorably', 'Neither favorably nor unfavorably (neutral)']

['Unfamiliar (N/A)', nan, 'Somewhat favorably', 'Neither favorably nor unfavorably (neutral)', 'Very favorably', 'Somewhat unfavorably', 'Very unfavorably']

['Unfamiliar (N/A)', nan, 'Somewhat unfavorably', 'Very favorably', 'Somewhat favorably', 'Neither favorably nor unfavorably (neutral)', 'Very unfavorably']

['Very favorably', nan, 'Unfamiliar (N/A)', 'Somewhat favorably', 'Neither favorably nor unfavorably (neutral)', 'Somewhat unfavorably', 'Very unfavorably']

['Very favorably', nan, 'Unfamiliar (N/A)', 'Somewhat favorably', 'Neither favorably nor unfavorably (neutral)', 'Somewhat unfavorably', 'Very unfavorably']

['Very favorably', nan, 'Unfamiliar (N/A)', 'Very unfavorably', 'Somewhat favorably', 'Somewhat unfavorably', 'Neither favorably nor unfavorably (neutral)']

['Very favorably', nan, 'Unfamiliar (N/A)', 'Somewhat favorably', 'Neither favorably nor unfavorably (neutral)', 'Somewhat unfavorably', 'Very unfavorably']

['Very favorably', nan, 'Unfamiliar (N/A)', 'Somewhat favorably', 'Very unfavorably', 'Neither favorably nor unfavorably (neutral)', 'Somewhat unfavorably']

In [25]:
rename_chr_rank={}
ind=0
for i in chr_fam:
    rename_chr_rank[i] = 'chr_rank_'+str(ind)
    ind+=1
star_wars = star_wars.rename(columns=rename_chr_rank)
chr_fam = rename_chr_rank.values()

In [26]:
import numpy as np
rank_dict = {'Very favorably':5, np.nan:0
             , 'Unfamiliar (N/A)':0
             , 'Somewhat favorably':4
             , 'Very unfavorably':1
             , 'Neither favorably nor unfavorably (neutral)':3
             , 'Somewhat unfavorably':2}

In [27]:
for i in chr_fam:
    star_wars[i]=star_wars[i].map(rank_dict)

# voila

In [28]:
star_wars.head(20)

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,seen_movie_0,seen_movie_1,seen_movie_2,seen_movie_3,seen_movie_4,seen_movie_5,rank_movie_0,rank_movie_1,rank_movie_2,rank_movie_3,rank_movie_4,rank_movie_5,chr_rank_0,chr_rank_1,chr_rank_2,chr_rank_3,chr_rank_4,chr_rank_5,chr_rank_6,chr_rank_7,chr_rank_8,chr_rank_9,chr_rank_10,chr_rank_11,chr_rank_12,chr_rank_13,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?ÂÃ¦,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
1,3.292880e+09,True,True,True,True,True,True,True,True,3.0,2.0,1.0,4.0,5.0,6.0,5,5,5,5,5,5,5,0,0,5,5,5,5,5,I don't understand this question,True,False,False,Male,18-29,NaN,High school degree,South Atlantic
2,3.292880e+09,False,NaN,False,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,True,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3,3.292765e+09,True,False,True,True,True,False,False,False,1.0,2.0,3.0,4.0,5.0,6.0,4,4,4,4,4,0,0,0,0,0,0,0,0,0,I don't understand this question,False,NaN,False,Male,18-29,"$0 - $24,999",High school degree,West North Central
4,3.292763e+09,True,True,True,True,True,True,True,True,5.0,6.0,1.0,2.0,4.0,3.0,5,5,5,5,5,4,5,4,2,5,5,5,5,5,I don't understand this question,False,NaN,True,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
5,3.292731e+09,True,True,True,True,True,True,True,True,5.0,4.0,6.0,2.0,1.0,3.0,5,4,4,2,5,1,4,3,5,4,4,1,4,4,Greedo,True,False,False,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
6,3.292719e+09,True,True,True,True,True,True,True,True,1.0,4.0,3.0,6.0,5.0,2.0,5,5,5,5,5,3,5,3,4,4,4,4,3,5,Han,True,False,True,Male,18-29,"$25,000 - $49,999",Bachelor degree,Middle Atlantic
7,3.292685e+09,True,True,True,True,True,True,True,True,6.0,5.0,4.0,3.0,1.0,2.0,5,5,4,4,5,5,5,5,5,4,5,2,4,5,Han,True,False,False,Male,18-29,NaN,High school degree,East North Central
8,3.292664e+09,True,True,True,True,True,True,True,True,4.0,5.0,6.0,3.0,2.0,1.0,5,4,5,3,5,1,2,3,4,4,4,1,2,5,Han,False,NaN,True,Male,18-29,NaN,High school degree,South Atlantic
9,3.292654e+09,True,True,True,True,True,True,True,True,5.0,4.0,6.0,2.0,1.0,3.0,5,2,4,4,4,5,5,5,5,3,4,1,2,4,Han,False,NaN,False,Male,18-29,"$0 - $24,999",Some college or Associate degree,South Atlantic
10,3.292640e+09,True,False,False,True,False,False,False,False,1.0,2.0,3.0,4.0,5.0,6.0,3,5,5,5,5,2,5,2,2,5,5,5,2,5,I don't understand this question,False,NaN,False,Male,18-29,"$25,000 - $49,999",Some college or Associate degree,Pacific
11,3.292638e+09,True,NaN,False,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,3.292635e+09,False,NaN,False,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,3.292609e+09,True,False,True,True,True,True,True,True,3.0,4.0,5.0,6.0,1.0,2.0,4,5,4,4,4,4,5,3,4,5,5,5,4,5,Greedo,False,NaN,False,Male,18-29,"$25,000 - $49,999",Bachelor degree,South Atlantic
14,3.292597e+09,True,True,True,True,True,True,True,True,4.0,5.0,6.0,2.0,3.0,1.0,5,5,5,4,5,0,1,0,3,5,5,0,5,5,I don't understand this question,False,NaN,False,Male,30-44,"$50,000 - $99,999",Graduate degree,Mountain
15,3.292587e+09,True,True,True,True,True,True,True,True,4.0,2.0,5.0,3.0,1.0,6.0,4,5,5,4,5,1,1,1,1,5,5,5,5,5,Han,False,NaN,False,Male,18-29,NaN,High school degree,East North Central
16,3.292583e+09,True,True,True,True,True,True,True,True,4.0,6.0,5.0,3.0,1.0,2.0,5,4,4,2,5,4,5,4,5,2,3,1,1,4,Han,True,True,True,Male,18-29,"$0 - $24,999",Some college or Associate degree,West South Central
17,3.292581e+09,True,True,False,False,False,True,False,False,4.0,1.0,2.0,3.0,5.0,6.0,3,4,2,3,1,4,2,3,4,3,2,3,2,1,Han,True,True,False,Male,18-29,"$50,000 - $99,999",Bachelor degree,New England
18,3.292573e+09,True,True,True,True,True,False,False,True,1.0,2.0,3.0,4.0,5.0,6.0,5,5,5,5,5,4,5,3,4,5,5,5,5,5,Greedo,False,NaN,False,Male,18-29,NaN,Some college or Associate degree,Middle Atlantic
19,3.292565e+09,True,True,True,True,True,True,True,True,6.0,5.0,2.0,3.0,1.0,4.0,5,5,5,5,5,5,5,4,5,5,5,1,2,5,Han,False,NaN,False,Male,18-29,NaN,High school degree,South Atlantic
20,3.292562e+09,True,True,True,True,True,True,True,True,6.0,5.0,1.0,4.0,3.0,2.0,5,4,5,5,4,2,5,1,5,4,5,2,5,5,Greedo,False,NaN,True,Male,18-29,"$50,000 - $99,999",Some college or Associate degree,West North Central